<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Multiset Test Unit">
    <test name="Test">
        <classes>
            <class name="ru.compscicenter.java2014.collections.test.MultiSetTestFactory"/>
        </classes>
    </test>
</suite>